@using FamilyCookbook.Data.Entities
@model UnitViewModel

@{
  ViewData["Title"] = "Units";
}

<h1 class="title">Units</h1>
<table class="table" data-sortable="true" id="Units">
  <thead>
  <tr>
    <th>Name</th>
    <th>Abbreviation</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var unit in Model.Units.OrderBy(unit => unit.Name))
  {
    <tr>
      <td>@unit.Name</td>
      <td>@unit.Abbreviation</td>
    </tr>
  }
  </tbody>
</table>

<table data-sortable="false" id="with-attr"></table>
<table id="without-attr"></table>


<h1 class="title">New unit</h1>
<form asp-area="" asp-controller="Unit" asp-action="NewUnit" method="post">
  <div class="field">
    <label class="label" for="new-unit-name">Name</label>
    <div class="control">
      <input class="input" id="new-unit-name" name="name" type="text" required maxlength="@UnitEntity.MaxNameLength">
    </div>
  </div>

  <div class="field">
    <label class="label" for="new-unit-abbreviation">Abbreviation</label>
    <div class="control">
      <input class="input" id="new-unit-abbreviation" name="abbreviation" type="text" required maxlength="@UnitEntity.MaxAbbreviationLength">
    </div>
  </div>

  <div class="control">
    <button class="button is-primary">Add unit</button>
  </div>
</form>

@section Scripts {
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script>

    const a = () => {
      Array.from(document.getElementsByTagName('table'))
      .filter(table => table.attributes.getNamedItem("data-sortable").value === 'true')
      .forEach(table => {
      console.log(table.id);
      });
    };
  </script>
}
