@{
  ViewData["Title"] = "Home Page";
}

<h1 class="title">Weatherforecast</h1>
<button id="click-me" class="button" name="you-know-me">Click me</button>

@section Scripts {
  <script src="~/js/site.js" asp-append-version="true"></script>
}
