@{
  ViewData["Title"] = "Home Page";
}

<h1 class="title">Weatherforecast</h1>
<button id="click-me" class="button" name="you-know-me">Click me</button>

@section Scripts {
  <script src="~/js/test.js" asp-append-version="true"></script>
  <script src="~/js/test2.js" asp-append-version="true"></script>
  <script>

    const button = document.getElementById('click-me');
    console.log(button);
    button.addEventListener('click', (event) => helloClick(event));

    </script>
}
